<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/uploads/thrive_logo.jpg" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for page in site.pages %}
        	{% unless page.menu_level == 'subnav' or page.menu == false or page.url == "/" %}
            <li id="js-navigation{% if page.sub_menu %}-more{% endif %}" class="nav-link{% if page.sub_menu %} more {% endif %}">
          		<a href="{{page.url}}"{% if page.url == url %} class="active"{% endif %}>{{page.menu_name}}</a>
              {% if page.sub_menu %}
            		<ul class="submenu">
                  {% for sub in page.sub_menu %}
                    {% assign menu_items = sub | split: "," %}
                    <li><a href="{{menu_items.last}}">{{menu_items.first}}</a></li>
                  {% endfor %}
              	</ul>
              {% endif %}
          	</li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </div>

</header>

<script src="js/menu.js"></script>
